<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<w:settings xmlns:mc="http://schemas.openxmlformats.org/markup-compatibility/2006" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:r="http://schemas.openxmlformats.org/officeDocument/2006/relationships" xmlns:m="http://schemas.openxmlformats.org/officeDocument/2006/math" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w10="urn:schemas-microsoft-com:office:word" xmlns:w="http://schemas.openxmlformats.org/wordprocessingml/2006/main" xmlns:w14="http://schemas.microsoft.com/office/word/2010/wordml" xmlns:w15="http://schemas.microsoft.com/office/word/2012/wordml" xmlns:w16se="http://schemas.microsoft.com/office/word/2015/wordml/symex" xmlns:sl="http://schemas.openxmlformats.org/schemaLibrary/2006/main" mc:Ignorable="w14 w15 w16se">
    <w:zoom w:val="bestFit" w:percent="159" />
    <w:embedSystemFonts />
    <w:proofState w:spelling="clean" w:grammar="clean" />
    <w:stylePaneFormatFilter w:val="3F01" w:allStyles="1" w:customStyles="0" w:latentStyles="0" w:stylesInUse="0" w:headingStyles="0" w:numberingStyles="0" w:tableStyles="0" w:directFormattingOnRuns="1" w:directFormattingOnParagraphs="1" w:directFormattingOnNumbering="1" w:directFormattingOnTables="1" w:clearFormatting="1" w:top3HeadingStyles="1" w:visibleStyles="0" w:alternateStyleNames="0" />
    <w:defaultTabStop w:val="720" />
    <w:displayHorizontalDrawingGridEvery w:val="0" />
    <w:displayVerticalDrawingGridEvery w:val="0" />
    <w:doNotUseMarginsForDrawingGridOrigin />
    <w:noPunctuationKerning />
    <w:characterSpacingControl w:val="doNotCompress" />
    <w:footnotePr>
        <w:footnote w:id="-1" />
        <w:footnote w:id="0" />
    </w:footnotePr>
    <w:endnotePr>
        <w:numFmt w:val="lowerLetter" />
        <w:endnote w:id="-1" />
        <w:endnote w:id="0" />
    </w:endnotePr>
    <w:compat>
        <w:compatSetting w:name="compatibilityMode" w:uri="http://schemas.microsoft.com/office/word" w:val="15" />
        <w:compatSetting w:name="overrideTableStyleFontSizeAndJustification" w:uri="http://schemas.microsoft.com/office/word" w:val="1" />
        <w:compatSetting w:name="enableOpenTypeFeatures" w:uri="http://schemas.microsoft.com/office/word" w:val="1" />
        <w:compatSetting w:name="doNotFlipMirrorIndents" w:uri="http://schemas.microsoft.com/office/word" w:val="1" />
        <w:compatSetting w:name="differentiateMultirowTableHeaders" w:uri="http://schemas.microsoft.com/office/word" w:val="1" />
    </w:compat>
    <w:rsids>
        <w:rsidRoot w:val="0018069A" />
        <w:rsid w:val="00026110" />
        <w:rsid w:val="000F1F7A" />
        <w:rsid w:val="000F6F8E" />
        <w:rsid w:val="001448E0" />
        <w:rsid w:val="00177794" />
        <w:rsid w:val="0018069A" />
        <w:rsid w:val="001F5473" />
        <w:rsid w:val="0022457E" />
        <w:rsid w:val="002523DF" />
        <w:rsid w:val="002639D5" />
        <w:rsid w:val="002A2E31" />
        <w:rsid w:val="00300338" />
        <w:rsid w:val="00413F44" />
        <w:rsid w:val="00437A01" />
        <w:rsid w:val="004858E0" />
        <w:rsid w:val="00493860" />
        <w:rsid w:val="004B55DF" />
        <w:rsid w:val="004D7FD9" />
        <w:rsid w:val="004E446F" />
        <w:rsid w:val="00540B4D" />
        <w:rsid w:val="005848F2" />
        <w:rsid w:val="005A2F84" />
        <w:rsid w:val="006805B6" />
        <w:rsid w:val="0068520B" />
        <w:rsid w:val="006A33A2" />
        <w:rsid w:val="006F3E91" />
        <w:rsid w:val="007B1F25" />
        <w:rsid w:val="00853D0F" />
        <w:rsid w:val="00883649" />
        <w:rsid w:val="008A4974" />
        <w:rsid w:val="008F7683" />
        <w:rsid w:val="00A87E2B" />
        <w:rsid w:val="00B01C84" />
        <w:rsid w:val="00B50827" />
        <w:rsid w:val="00B959B0" />
        <w:rsid w:val="00C06BCD" />
        <w:rsid w:val="00C5487B" />
        <w:rsid w:val="00C76717" />
        <w:rsid w:val="00C76877" />
        <w:rsid w:val="00C878C7" />
        <w:rsid w:val="00CE6D6D" />
        <w:rsid w:val="00D12090" />
        <w:rsid w:val="00D17285" />
        <w:rsid w:val="00D80DD7" />
        <w:rsid w:val="00E24E6E" />
        <w:rsid w:val="00E444D0" />
        <w:rsid w:val="00EB761E" />
        <w:rsid w:val="00EC2F15" />
        <w:rsid w:val="00F83161" />
    </w:rsids>
    <m:mathPr>
        <m:mathFont m:val="Cambria Math" />
        <m:brkBin m:val="before" />
        <m:brkBinSub m:val="--" />
        <m:smallFrac m:val="0" />
        <m:dispDef />
        <m:lMargin m:val="0" />
        <m:rMargin m:val="0" />
        <m:defJc m:val="centerGroup" />
        <m:wrapIndent m:val="1440" />
        <m:intLim m:val="subSup" />
        <m:naryLim m:val="undOvr" />
    </m:mathPr>
    <w:themeFontLang w:val="en-US" w:bidi="he-IL" />
    <w:clrSchemeMapping w:bg1="light1" w:t1="dark1" w:bg2="light2" w:t2="dark2" w:accent1="accent1" w:accent2="accent2" w:accent3="accent3" w:accent4="accent4" w:accent5="accent5" w:accent6="accent6" w:hyperlink="hyperlink" w:followedHyperlink="followedHyperlink" />
    <w:doNotIncludeSubdocsInStats />
    <w:shapeDefaults>
        <o:shapedefaults v:ext="edit" spidmax="1026" />
        <o:shapelayout v:ext="edit">
            <o:idmap v:ext="edit" data="1" />
        </o:shapelayout>
    </w:shapeDefaults>
    <w:decimalSymbol w:val="." />
    <w:listSeparator w:val="," />
    <w14:docId w14:val="2902214D" />
    <w15:chartTrackingRefBased />
    <w15:docId w15:val="{D8537A26-6C89-4ED1-AE97-0BEA4EB23A75}" />
</w:settings>